@import url(./normalize.css);
@import url(./reset.css);

/* 숨김 콘텐츠 */
.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}


/* 기본 스타인 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

a:hover{
  text-decoration: underline
}

/* 본문 스타일 */
body {
  color: #212121;
  background-color: #dbe0e6;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
  font-size: 24px;
}

header {
  width: 100%;
  height: 80px;
  background-color: #000;
  display: flex;
  justify-content: center
}

.header-container{
  /* 푸타 레이아웃(피그마 수치) 크기에 맟춤 */
  width: 1673px;
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
}

header div:first-child{
  display: flex;
  align-items: center;
}

header .logo,
header .title {
  display: inline-block;
}

/* 
header .title::before{
  content: "|";
  margin: 0 10px;
  pointer-events: none;
} */

header .title::before {
  content: "";
  margin: 0 10px;
  height: 20px;
  width: 1px;
  display: inline-block;
  background-color: #FFF;
}

header .logo{
  /* background: url("../assets2/logo.png") no-repeat center center / cover; */
  width: 135px;
  height: 36px;
  display: flex;
  align-items: center;
  position: absolute;
  transition: 200ms;
}

header .logo:hover{
  filter: brightness(80%);
  text-decoration: none;

}

header .logo::after{
  padding-left: 8px;
  display: inline-block;
  content: "Abstract";
}

header .title{
  margin-left: 135px;
}

/* header .logo p{
  position: absolute;
  width: 36px;
  height: 36px; 
} */

header .submit-request{
  height: 50px;
  width: 233px;
  border: solid #fff 1px;
  border-radius: 8px;
  background: #000;
  color: #fff;
  margin-right: 15px;
}

header .sign{
  width: 140px;
  height: 50px;
  border-radius: 8px;
  padding: 10px 21px;
  background: #4C5FD5;
  color: #fff;
  border: none;
}

header .sign:hover{
  background: #fff;
  color: #000;
  transition: 600ms;
}

.search {
  background: #DADBF1;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding: 74px 0 112px 0;
}

.search .title{
  font-size: 80px;
  width: 663px;
  height: 155px;
  text-align: center;
  letter-spacing: -2px;
  word-spacing: -8px;
  line-height: 155px;
}

.searchInput-box {
  display: inline-block;
  width: 718px;
  height: 66px;
  position: relative;
}

.searchInput-box:hover {
  color: #4C5FD5;
  border-color: #4C5FD5;
}

.search .searchInput{
  width: 718px;
  height: 66px;
  border: #000 0.8px solid;
  background-color: #fff;
  border-radius: 4px;
  font-size: 20px;
  padding: 16px;
  box-shadow: 5px 5px 5px 2px #c7c8d7;
}

.search .searchInput:hover,
.search .searchInput:focus {
  border-color: #4C5FD5;
  outline: none;
}

/* 이미지 색상 처리 불가능 */
/* .search-arrow {
  background: url("../assets2/arrow_forward.png") no-repeat center center / cover;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
} */

/* 아이콘으로 대체 */
.search-arrow {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
}

.menu {
  display: flex;
  justify-content: center;
  padding: 178px 0 115px 0;
  background: #fff;
}

.menu .menu-layout{
  width: 1600px;
}


dl>div {
  position: relative;
  display: inline-block;
  width: 49%;
  padding-left: 130px;
  margin-bottom: 100px;
}

.menu .desc-title {
  height: 30px;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 15px;
}

.menu .desc-img {
  background: url("../assets2/branches.png") no-repeat center center / cover;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.menu .info {
  font-size: 24px;
  margin-bottom: 25px;
}

.menu a{
  color: #4C5FD5;
  font-size: 20px;
}

footer {
  background: #000;
  height: 400px;
  display: flex;
  justify-content: center;
  padding-top: 45px;
  position: relative;
}

footer > div {
  width: 1673px;
  height: 296px;
  display: flex;
  position: relative;
}

footer section {
  display: flex;
  flex-flow: column wrap;
  color: #fff;
  width: 340px;
}

footer section .title{
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 25px;
}

footer section ul {
  display: flex;
  flex-flow: column wrap;
  font-size: 16px;
}

footer section li{
  margin-bottom: 4px;
}

.contact-us{
  margin-top: 30px;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

.contact-us .mail{
  font-weight: 400;
}

.copyright-warraper{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 253px;
  height: 84px;
  color: #fff;
  font-size: 20px;
  line-height: 140%;
}

.copyright-img {
  background: url("../assets2/logo_rev.png") no-repeat center center / cover;
  width: 36px;
  height: 36px;
  position: absolute;
  left: 0;
  top: -60px;
}

.help {
  background: #4C5FD5;
  color: #fff;
  width: 107px;
  height: 46px;
  border-radius: 23px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 17px;
  bottom: 10px;
}

.help p{
  font-size: 16px;
  font-weight: bold;
}