@import url(./normalize.css);
@import url(./reset.css);

/* 기본 스타인 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 본문 스타일 */
body {
  color: #212121;
  background-color: #dbe0e6;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
}

/* 헤더 영역 */
/* 고정 fixed */
.head {
  height: 48px;
  background-color: #fff;
  position: fixed; 
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  border-bottom: #dbe0e6 solid 1px;
}

.logo {
  margin-left: 20px;
  width: 100px;
  height: 32px;
  position: relative;
}

/* 이미지 중앙 정렬 */
img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-bar{
  border-radius: 21px / 21px;
  display: inline-block;
  background-color: #f6f7f9;
  max-width: 648px;
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.searchInput {
  margin-left: 6px;
  color: #999999;
  font-size: 14px;

}

/* display: flow-root 사용! */
.header-menu {
  display: flow-root;
}

.group {
  float: left;
  height: 32px;
  margin: 0 12px;
}

.group1 {
  width: 120px;
  border: #0079d2 solid 1px;
  border-radius: 16px/16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group1 div {
  color: #0079d2;
  font-weight: 600;
}

.group2 {
  width: 120px;
  background-color: #0079d2;
  width: 120px;
  border-radius: 16px/16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group2 div {
  color: #fff;
  font-weight: 600;
}

.group3 {
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 24px;
}


/* nav 영역 */
/* height 100% 말고 더 좋은 방법? strech? */
nav {
  position: fixed;
  width: 270px;
  background-color: #fff;
  height: calc(100% - 48px);
  /* border: #000 solid 5px; */
  top: 48px;
}

nav div {
  padding-left: 24px;
  display: flex;
  align-items: center;
  height: 36px;
}

nav .title {
  margin-top: 8px;
  font-size: 10px;
}

.nav-group {
  color: #1d1c1a;
  font-size: 14px;
  height: 34px;
}

.feed-icon {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-right: 8px;
}

.topic-group p {
  padding-left: 4px;
  font-weight: 400;
  font-size: 15px;
}

nav footer {
  position: absolute;
  height: 200px;
  width: 100%;
  bottom: 0;
  padding: 12px 28px;
  color: #212121;
}

footer p {
  display: inline-block;
  margin-top: 12px;
}

footer div {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 20px;
  background-color: #0079d2;
  color: #fff;
  width: 100%;
  height: 36px;
  border-radius: 18px/18px;
  font-weight: 600;
}




/* 마진을 쓰면 헤더도 같이 내려오는 이유? (fixed 가 다른 sibling의 마진에 영향을 받음??) */
.main-section {
  position: absolute;
  top: 48px;
  left: 270px;
  width: calc(100% - 270px);
  padding: 0;
  /* background-color: palegreen;
  border: #000 solid 5px; */
}

main {
  margin: 0 auto;
  width: 980px;
}

main .banner {
  height: 220px;
  display: flex;
  flex-direction: column;
}

.img-articles {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.main-section .title {
  padding-top: 16px;
  padding-bottom: 10px;
  color: #424242;
  font-size: 14px;
  font-weight: 600;

}

.img-articles article{
  background-color: darkcyan;
  width: 236px;
  border-radius: 8px;
  position: relative;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 1) 100%),
    url(../assets/cat.jpg) no-repeat center center/cover
}

.article-letter {
  position: absolute;
  bottom: 0;
  padding: 0 12px;
  color: #fff;
  width: inherit;
}

.article-letter .article-title {
  font-weight: 500;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.article-letter .info {
  font-size: 14px;
  line-height: 20px;

  overflow: hidden;
  text-overflow: ellipsis; 
  height: 40px;

  /* text-overflow: ellipsis 두줄 이상 처리*/
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


.article-letter .source {
  height: 36px;
  font-size: 12px;
  display: flex;
  /* 이것도 absolute에 영향을 주는가? */
  align-items: center;
}

.src-img {
  position: absolute;
  width: 17px;
  height: 17px;
  border:#1d1c1a solid 1px;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  /* 백그라운드 단축표기법 */
  background: #fff url(../assets/Reddit-Logo.png) no-repeat center center / contain;
  /* background-image: url(../assets/Reddit-Logo.png);
  background-size: contain; */
}

.article-letter .source p {
  margin-left: 20px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main section {
  min-height: 1000px;
  background-color: aqua;
  width: 640px;
  display: inline-block;
  padding: 8px;
}

main aside {
  background-color: antiquewhite;
  display: inline-block;
  width: 376px;
  min-height: 400px;
}
