@import url(./normalize.css);
@import url(./reset.css);

/* 기본 스타인 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 본문 스타일 */
body {
  color: #212121;
  background-color: #dbe0e6;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-weight: 400;
}

/* 헤더 영역 */
/* 고정 fixed */
.head {
  height: 48px;
  background-color: #fff;
  position: fixed; 
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  border-bottom: #dbe0e6 solid 1px;
}

.logo {
  min-width: 100px;
  margin-left: 20px;
  width: 100px;
  height: 32px;
  position: relative;
}

/* 이미지 중앙 정렬 */
img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search-bar{
  border-radius: 21px / 21px;
  display: inline-block;
  background-color: #f6f7f9;
  max-width: 648px;
  width: 100%;
  height: 42px;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.search-bar:hover {
  background-color: #fff;
  border: #0079d2 solid 1px;
}

.searchInput {
  margin-left: 6px;
  color: #999999;
  font-size: 14px;
  border: 0;
  background-color: inherit;
}

.searchInput:focus {outline: none;}

/* display: flow-root 사용! */
.header-memu {
  display: flow-root;
  min-width: 370px;
  /* background-color: sandybrown; */
}

.group {
  float: left;
  height: 32px;
  margin: 0 12px;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.group1 {
  width: 120px;
  border: #0079d2 solid 1px;
  border-radius: 16px/16px;
  color: #0079d2;
  font-weight: 600;
}

.group1:hover {
  background-color: #f6f7f9;
}

.group2 {
  width: 120px;
  background-color: #0079d2;
  width: 120px;
  border-radius: 16px/16px;
  color: #fff;
  font-weight: 600;
}

.group2:hover {
  background-color: #118ce4;
}


.group3 {
  width: 40px;
  margin-right: 24px;
  padding: 0 24px;
}

.group3:hover {
  border: #e2e4e9 solid 1px;
}


/* nav 영역 */
/* height 100% 말고 더 좋은 방법? strech? */
nav {
  position: fixed;
  width: 270px;
  background-color: #fff;
  height: calc(100% - 48px);
  min-height: 800px;
  /* border: #000 solid 5px; */
  top: 48px;
}

nav div {
  padding-left: 24px;
  display: flex;
  align-items: center;
  height: 36px;
}

nav .title {
  margin-top: 8px;
  font-size: 10px;
}

.nav-group {
  color: #1d1c1a;
  font-size: 14px;
  height: 34px;
  cursor: pointer;
}

.nav-group:hover {
  background-color: #f6f7f9;;
}

.feed-icon {
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-right: 8px;
}

.topic-group {
  cursor: pointer;
}

.topic-group:hover {
  background-color: #f6f7f9;
  ;
}

.topic-group p {
  padding-left: 4px;
  font-weight: 400;
  font-size: 15px;
}

nav footer {
  position: absolute;
  height: 200px;
  width: 100%;
  bottom: 0;
  padding: 12px 28px;
  color: #212121;
}

footer p {
  display: inline-block;
  margin-top: 12px;
}

.nav-footer div {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 20px;
  background-color: #0079d2;
  color: #fff;
  width: 100%;
  height: 36px;
  border-radius: 18px/18px;
  font-weight: 600;
  cursor: pointer;
}

.nav-footer div:hover {
  background-color: #118ce4;
}


/* 마진을 쓰면 헤더도 같이 내려오는 이유? (fixed 가 다른 sibling의 마진에 영향을 받음??) */
.main-section {
  position: absolute;
  top: 48px;
  left: 270px;
  width: calc(100% - 270px);
  padding: 0;
  /* background-color: palegreen;
  border: #000 solid 5px; */
}

main {
  margin: 0 auto;
  width: 980px;
}

main .banner {
  height: 220px;
  display: flex;
  flex-direction: column;
}

.img-articles {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.main-section .title {
  padding-top: 16px;
  padding-bottom: 10px;
  color: #424242;
  font-size: 14px;
  font-weight: 600;

}

.img-articles{
  cursor: pointer;
}

.img-articles article{
  background-color: darkcyan;
  width: 236px;
  border-radius: 8px;
  position: relative;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%,rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 1) 100%),
    url(../assets/cat.jpg) no-repeat center center/cover
}

.article-letter {
  position: absolute;
  bottom: 0;
  padding: 0 12px;
  color: #fff;
  width: inherit;
}

.article-letter .article-title {
  font-weight: 500;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.article-letter .info {
  font-size: 14px;
  line-height: 20px;

  overflow: hidden;
  text-overflow: ellipsis; 
  height: 40px;

  /* text-overflow: ellipsis 두줄 이상 처리*/
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


.article-letter .source {
  height: 36px;
  font-size: 12px;
  display: flex;
  /* 이것도 absolute에 영향을 주는가? */
  align-items: center;
}

.src-img {
  position: absolute;
  width: 17px;
  height: 17px;
  border:#1d1c1a solid 1px;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  /* 백그라운드 단축표기법 */
  background: #fff url(../assets/Reddit-Logo.png) no-repeat center center / contain;
  /* background-image: url(../assets/Reddit-Logo.png);
  background-size: contain; */
}

.article-letter .source p {
  margin-left: 20px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

main .posts {
  min-height: 1000px;
  width: 640px;
  display: inline-block;
  padding: 8px;
}

.sort-bar {
  height: 60px;
  background: #fff;
  border-radius: 4px;
  border: #c4c4c4 solid 1px;
  display: flex;
  align-items: center;
}

.sort-bar button {
  background: inherit;
  color: #868a8d;
  font-size: 14px;
  font-weight: 700;
  border: 0;
  height: 32px;
  margin-left: 8px;
  border-radius: 16px;
  padding: 0 12px;

  /* 첫번쨰 버튼의 align-items: center 적용이 약간 이상함.. 아이콘 넣으면 약간 내려감*/
  line-height: 32px;
}

.sort-bar button:hover {
  background-color: rgb(230, 230, 230);
}

.sort-bar .selected {
  color: #0079d2;
  background-color: #f6f7f9;
}

.sort-bar button:nth-child(5) {
  padding: 2px;
}


/* .sort-dropdown 로는 적용이 안됨 why..? */
/* margin 주기 싦은데 걍 flex 영역 하나 더만들어?? */
.sort-bar .sort-dropdown {
  margin-left: 156px;
}

.post {
  min-height: 440px;
  background: #fff;
  border-radius: 4px;
  border: #c4c4c4 solid 1px;
  display: flex;
  margin-top: 20px;
  cursor: pointer;
}

.vote {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f8f9fb;
  width: 40px;
  color: #868a8d;
}

.vote h {
  font-size: 12px;
  color: #212121;
  font-weight: 600;
  margin: 4px 0;
}

.vote i:first-child:hover {
  color: #f44336;
}

.vote i:last-child:hover {
  color: #2196f3;
}

 .post-section {
  /* background-color: violet; */
  width: 600px;
}

.post-section header {
  height: 36px;
  display: flex;
  position: relative;
}

.post-source .user-img {
  top: 7px;
  left: 4px;
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #fff;
  /* 백그라운드 단축표기법 */
  background: #fff url(../assets/bug01.jpg) no-repeat center center / cover;
}

.post-source div{
  top: 7px;
  left: 4px;
  position: absolute;
  height: 22px;
  left: 32px;
}

.post-source div p:first-child{
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
}

.post-source div p:first-child:hover{
  text-decoration: underline;
}

.post-source div p:nth-child(2) {
  display: inline-block;
  color: #868a8d;
  font-size: 12px;
  cursor: pointer;
}

.post-letter {
  font-size: 18px;
  font-weight: 600;
  padding: 4px;
}

.post-img {
  background: gray url(../assets/forest.jpg) center center/ cover;
  height: 320px;
}

.post-footer{
  height: 40px;
  display: flex;
}

.post-footer div{
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  color: #868a8d;
  line-height: 40px;
  margin: 1px 2px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  border-radius: 2px;
}

.post-footer div:hover{
  background-color: rgb(230, 230, 230);
}

.main-layout{
  display: flex;
}

main aside {
  width: 100%;
  display: inline-block;
  min-height: 400px;
}

.side-bar {
  background: #fff;
  border-radius: 3px;
  border: #c4c4c4 solid 1px;
  margin: 68px 4px 0px 20px;
  display: flex;
  flex-direction: column;
}

.side-bar div {
  color: #1d1c1a;
  border-bottom: #e7e7e7 1px solid;
  font-size: 10px;
  font-weight: 600;
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  justify-content: space-between;
  cursor: pointer;
}

/* .side-bar div:last-child {
  border: 0;
} */

.side-env-bar {
  background: #fff;
  border-radius: 3px;
  border: #c4c4c4 solid 1px;
  margin: 16px 4px 0px 20px;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  font-weight: 400;
  color: #1d1c1a;
}

.side-env-bar section {
  padding: 0px 12px;
  margin-top: 4px ;
}

/* 마지막 섹션은 없어야함 (미세하게 겹침) */
.side-env-bar section::after {
  content: "";
  border-top: #e7e7e7 1px solid;
  display: block;
  margin-top: 4px;
}

.side-env-bar section a {
  /* inline-flex 이거 뭐임 */
  display: inline-flex; 
  width: 49%;
  margin: 6px 0px;
  cursor: pointer;
}

/* css 우선순위 점수 개념 */
.side-env-bar section .copyright {
  width: 100%;
}
